body {
    background-color: bisque;
}
h1 {
    text-align: center;
    padding: 1%;
    background-color:burlywood;
}
button {
    color: saddlebrown;
    background-color: sandybrown;
 }

 /* #box{
    display:flex;
 }
*/
.roll1, .roll2{
    padding: 5px;
} 
